@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital@1&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #E5E5E5;
}
nav{
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 3px 0 3px gray;
}
nav #logo{
    width: 115px;
    padding: 0 0 0 128px;
}
nav #guias{
    margin-right: 100px;
    float: right;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: #ec293b;
    margin-right: 20px;
    font-family: 'Bree Serif';
}
nav a:hover{
    color: #1656e5;
}
nav .login{
    margin-right: 128px;
    float: right;
    font-family: 'Bree Serif';
}
.entrar {
    background-color: white;
    font-size: 16px;
    border: none;
    font-family: 'Bree Serif';
    padding: 16px;
    font-weight: bold;
    color: #1656e5;
    border-radius: 16px;
}
.entrar:hover {
    cursor: pointer;
    background-color: #dae6ff;
}
.cadastrar {
    border: none;
    font-size: 16px;
    font-family: 'Bree Serif';
    padding: 16px;
    font-weight: bold;
    color: white;
    background-color: #1656e5;
    border-radius: 16px;
    transition: all 0.6s;
}
.cadastrar:hover {
    cursor: pointer;
    background-color: #588afa;
}
nav #icon{
    color: rgb(54, 59, 63);
    font-size: 30px;
    margin-left: 120px;
    line-height: 80px;
    float: left;
    cursor: pointer;
    display: none;
}
.limit_area{
    display: flex;
    width: 41%;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(158, 158, 158, 0.329);
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Bree Serif';
    font-weight: bold;
    color: #1656e5;
}
.grid_marcas{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}
.grid_marcas .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_marcas .img_parc{
    width: 130px;
}

@media (max-width: 1300px){
    nav #icon{
        display: block;
        transform: rotate(0);
        transition: all 0.5s;
    }
    nav #logo{
        padding: 0 0 0 calc((100vw / 2) - 256px);
    }
    nav #guias{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1656e5;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav #guias li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        color: white !important;
    }
    nav #guias.show{
        left: 0;
    }
    nav #icon.rotate{
        transform: rotate(90deg);
    }
}